{% extends './base.html' %}
{% load static %}
{% block content %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Profile</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Profile</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="card mb-0">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="profile-view">
										<div class="profile-img-wrap">
											<div class="profile-img">
												<a href="#"><img src="{% static 'img/profiles/avatar-02.jpg' %}" alt="User Image"></a>
											</div>
										</div>
										<div class="profile-basic">
											<div class="row">
												<div class="col-md-5">
													<div class="profile-info-left">
														<h3 class="user-name m-t-0 mb-0">{{ userprofile.empName }}</h3>
														<small class="text-muted">Asst. Professor</small>
														<div class="staff-id">Employee ID :  {{ userprofile.empID }}</div>
														<!-- <div class="staff-id">Total Videos : 15</div> -->
														<!-- <div class="staff-id">Videos Uploaded Today: 3</div> -->
		<br>

													</div>
													
													<div class="row">
														<div class="col-md-6 d-flex">
															<div class="stats-info w-85">
																<h6>Total Uploaded Videos</h6>
																<h4>{{ total_videos }}</h4>
															</div>
														</div>
														<div class="col-md-6 d-flex">
															<div class="stats-info w-85">
																<h6>Today Uploaded Videos</h6>
																<h4>{{ today }}</h4>
															</div>
														</div>
												
													
													</div>
												</div>
												
												<div class="col-md-7">
													<ul class="personal-info">
														<li>
															<div class="title">Phone:</div>
															<div class="text"><a href="#">{{ userprofile.phone }}</a></div>
														</li>
														<li>
															<div class="title">Email:</div>
															<div class="text">{{ user.email }}</div>
														</li>
													
														<li>
															<div class="title">Address:</div>
															<div class="text">{{ userprofile.address }}</div>
														</li>													
													</ul>
												</div>
											</div>
										</div>
										<div class="pro-edit"><a data-bs-target="#profile_info" data-bs-toggle="modal" class="edit-icon" href="#"><i class="fa-solid fa-pencil"></i></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
										
					<div class="tab-content">
					
						
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-striped custom-table mb-0 datatable">
										<thead>
											<tr>
												<th>Employee</th>
												<th>Date</th>
	
												<th>Subject</th>
												<th>No of Videos Uploaded</th>
											</tr>
										</thead>
										<tbody>
											{% for user_data in video_uploads %}
	
											<tr>
												
												<td><a>Mr. {{ user_data.user.username }}</a></td>
												<td>{{ user_data.upload_datetime }}</td>
												<td>{{ user_data.subject_type }}</td>
												<td>{{ user_data.number_of_videos }}</td>
												
											</tr>
											{% endfor %}
										
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
					</div>
                </div>
				<!-- /Page Content -->


				
            </div>
			<!-- /Page Wrapper -->

        </div>
		<!-- /Main Wrapper -->


{% endblock %}